@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Oxygen');

body, html {
  height: 100%;
  overflow-x: hidden;
}

ul {
    list-style-type: none;
    overflow: hidden;
}
li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
}