@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Oxygen');

body, html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

ul {
    list-style-type: none;
    overflow: hidden;
}
li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
}

hr {
  width: 100%;
}

.blah {
  position: absolute;
  font-size: 40px;
  z-index: 3;
  margin-top: -55px;
  margin-left: 15px;
  font-family: 'Roboto', sans-serif;
}

#us-map{
    display: block;
    position: center;
    margin-top: 40px;
    margin-left: 260px;
    width: 80%;
    height: 80%;
  }
  path:hover, circle:hover {
    stroke: #7e0087;
    stroke-linejoin: round;
    fill: #7e0087;
    cursor: pointer;
  }
  .noELect{
    fill: #909090;
  }
  
  .blue{
    fill: #002868;
  }
  
  .red{
    fill: #bb0000; 
  }
  
  #path67 {
    fill: none !important;
    stroke: #909090 !important;
    cursor: default;
  }
  
  clip-path:hover, circle:hover {
    stroke: #e5ff00;
    stroke-width:5px;
    stroke-linejoin: round;
    fill: #e5ff00;
    cursor: pointer;
  }
  
  #info-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff;
    border: 2px solid #BF0A30;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
  }
  
  header{
    text-align: center;
    font-family:'Roboto',sans-serif;
    padding: 5px;
    font-size: 4rem;
}

#header {
    font-family: 'Roboto' , sans-serif;
    margin: 1rem;
    width: 1430px;
    padding: 1rem;
    text-align: center;
    background: rgb(4, 10, 76);
    color: #fff;
  }
  
  #header h2 {
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    font-size: 2.1rem;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
  }


  @import url('https://fonts.googleapis.com/css?family=Roboto');
  #footer {
    display: flex;
    justify-content: space-around;
    background-color: rgba(143, 8, 8);
    font-family: 'Roboto';
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-size: 1rem;
    text-align: center;
    padding: 15px;
    align-self: center;
    width:100%;
    height: 250px;
    font-size: 21px;
  }
 
  #navdiv {
    background-color:  rgba(143, 8, 8);
    text-decoration: none;
    color:#fff;
    font-family: 'Roboto';
  }
 
  #resdiv {
        background-color:  rgba(143, 8, 8);
        color:#fff;
        text-decoration: none;
        font-family: 'Roboto';
  }
 
 
  #projdiv {
    background-color:  rgba(143, 8, 8);
    text-decoration: none;
    color:#fff;
    font-family: 'Roboto';
  }
 
  #condiv {
    background-color:  rgba(143, 8, 8);
    text-decoration: none;
    color:#fff;
    font-family: 'Roboto';
  }
  a:link{
    text-decoration: none;
    color: #fff;
  }

    a:visited {
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        color: #fff;
        text-decoration: underline;
    }

    a:active {
        color: #fff;
        text-decoration: underline;
    }
  #button {
    margin-left:300px;
  }
 
  .contactform{
      background-color: yellow;
  }

  #color{
    text-decoration: none;
    color: #fff;
  }

  #black{
    color: #000;
  }