body, html {
    height: 100%;

}
ul {
    list-style-type: none;
    overflow: hidden;
}
li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Nanum+Gothic', sans-serif;
}


h1 {
    font-family: "Nanum+Gothic", sans-serif;
    text-align: center;
}
hr {
    width: 75%;
}

.box{font-family: "Nanum+Gothic", sans-serif; height: 463px; right: 0px; width: 300px; position: absolute; padding: 0px; position: absolute; border: 20px solid #003399;}
#con{
    text-align: center;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#contact {
    width: 250px; height: 72px; padding: 0px 25px
}

#subTitle {
    width: 75%;
}

#sens {
    text-align: center;
}

.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#sen {
    font-size: 21px;
}

#lead {
    font-size: 21px;
}