@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
    height: 100%;

}
/*ul {
    list-style-type: none;
    overflow: hidden;
}
li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Nanum+Gothic', sans-serif;
}*/


h1 {
    font-family: "Nanum+Gothic", sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Roboto', serif;
}

hr {
    width: 100%;
}

.box{
    font-family: "Nanum+Gothic", sans-serif;
    height: 455px;
    width: 300px;
    float: right;
    padding: 0px;
    border: 20px solid #191970;
    font-family: 'Roboto', serif;
}

#contact{
    text-align: center;
}

#reach {
    margin: 0px 10px 0px 10px;
    line-height: 1.6;
}

#link {
    margin: 15px 10px 10px 10px;
}

#senatepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}

#con {
    width: 250px;
    height: 72px;
    padding: 25px 25px
}

#text {
    width: 75%;
    margin-left: 15px
}

#list {
    text-align: center;
}

.column {
    float: left;
    width: 16%;
    padding: 65px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#senate {
    font-size: 21px;
}

#lead {
    font-size: 21px;
}